body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6em;
  padding-top: 60px;
}

.navbar {
  min-height: 0px;
}

h1 {
  font-weight: bold;
}

#form {
  border-bottom: 1px solid #ddd;
}

.meals-header, .meal-row  {
  text-align: center;
}

.meals-header {
  border-bottom: 2px solid #ddd;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 25px;
}

.meal-row {
  border-bottom: 1px solid #ddd;
}

.meal-row:hover {
  cursor: pointer;
}

.meal-data {
  padding: 10px 0px;
}

.active {
  background-color: #eee;
}

.meal-input {
  background: none;
  border: 0;
  color: #bbb;
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

.meal-input:focus {
  outline: none;
}

@media(max-width:767px){

  .meal-data {
    padding: 5px 0px;
  }

  .middleColumn {
    padding: 0px;
  }

  .meal-name {
    font-weight: bold;
  }

  .meal-date {
    color: #bbb;
  }
}

.btn {
  margin-left: 8px;
}

#input-datetime {
  padding-left: 3em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
