input {
  margin-bottom: 10px;
}

td, th {
  text-align: center;
}

.meals-header, .meal-item  {
  text-align: center;
}

.meal-item:hover {
  cursor: pointer;
}

.active {
  background-color: #eee;
}
